body {
  font: "Work Sans";
}
.app-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
}
.main {
  background: "#f1f1f1";
  width: "100%";
}

.container {
  min-height: 100vh;
  padding: 0px;
}

.description {
  font-size: "14px";
  padding: "0rem";
  color: "white";
}
